body{
    width: 90vw;;
    height: 85vh;
}

h1{
    color: rgb(23, 114, 23);
    display: block;
}

#playBoard{
    width: 910px;
    height: 500px;
    margin-top: 5vh;
    background-color: lightgray;
}

#game{
    width: 200px;
    height: 40px;
    background-color: aqua;
    padding: 0px;
    text-align: center;
    display: block;
}

#game h3{
    margin: 0px;
}

#rode2{
    margin-top: 61%;
}

.container{
    width: 80%;
    margin-left: 15%;
    margin-top: -5%;
    text-align: center;
}