body{
    width: 90vw;;
    height: 85vh;
}

h1{
    color: rgb(23, 114, 23);
    display: block;
    font-family:  Copperplate,Copperplate Gothic Light,fantasy;
}

#playBoard{
    width: 900px;
    height: 500px;
    margin-top: 5vh;
    background-color: black;
}

#game{
    width: 200px;
    height: 50px;
    background-color: aqua;
    padding: 0px;
    text-align: center;
    display: block;
}
#game:hover{
    cursor: pointer;
}

#game h3{
    margin: 0px;
}

#rode2{
    margin-top: 61%;
}

.container{
    width: 70%;
    margin-left: 15%;
    margin-top: -5%;
    text-align: center;
}

#maintext>a{
    text-decoration: none;
    color: black;
}

#maintext{
    font-family:  Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}
p{
    font-family:  Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}